@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SFPro';
    src: local('SF Pro Text'), local('SF-Pro-Text'), url('/SFProText.ttf');
}

html, body, footer {
    font-family: 'SFPro';
}

#customNav {
    background-color: rgba(255,255,255,1);
}

.borderAvatar {
    border: 3px solid white !important
}