@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SFPro';
    src: local('SF Pro Text'), local('SF-Pro-Text'), url('/SFProText.ttf');
}

html, body, footer {
    font-family: 'SFPro';
}

/* NAV */
#customNav {
    background-color: rgba(255,255,255,1);
}
.borderAvatar {
    border: 3px solid white;
}


/* TITLES */
.big-title {
    font-size: 2.4rem;
}
.big-title2 {
    font-size: 2rem;
}

/* HERO SECTION */
.hero-image {
    background-image: url('/images/hero-section-image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


/* ICONS */
.icons-size {
    width: 45px;
    height: 45px;
    opacity: 0.8;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0.2rem;
}
.icons-size:hover {
    opacity: 1;
    cursor: pointer;
}
.logo-skills {
	height: 100px;
	margin: 15px;
	background-color: white;
	padding: 6px;
	border-radius: 10px;
}


/* HERO ANIMATION */
.forest {
	height: 600px;
	width: 100%;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
		url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}

	.editorial {
		width: 100%;
		height: 70px;
   }
	.parallax1 > use {
		animation: move-forever1 3s linear infinite;
   }
	.parallax1 > use:nth-child(1) {
		animation-delay: -2s;
   }
	.parallax2 > use {
		animation: move-forever2 4s linear infinite;
   }
	.parallax2 > use:nth-child(1) {
		animation-delay: -2s;
   }
	.parallax3 > use {
		animation: move-forever3 5s linear infinite;
   }
	.parallax3 > use:nth-child(1) {
		animation-delay: -2s;
   }
	@keyframes move-forever1 {
		0% {
			transform: translate(85px, 0%);
	   }
		100% {
			transform: translate(-90px, 0%);
	   }
   }
	@keyframes move-forever2 {
		0% {
			transform: translate(-90px, 0%);
	   }
		100% {
			transform: translate(85px, 0%);
	   }
   }
	@keyframes move-forever3 {
		0% {
			transform: translate(85px, 0%);
	   }
		100% {
			transform: translate(-90px, 0%);
	   }
   }
	@keyframes move-forever4 {
		0% {
			transform: translate(-90px, 0%);
	   }
		100% {
			transform: translate(85px, 0%);
	   }
   }
	