@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SFPro';
    src: local('SF Pro Text'), local('SF-Pro-Text'), url('/SFProText.ttf');
}

html, body, footer {
    font-family: 'SFPro';
}

#customNav {
    background-color: rgba(255,255,255,1);
}

.borderAvatar {
    border: 3px solid white !important
}

.big-title {
    font-size: 2.4rem;
}

.big-title2 {
    font-size: 2rem;
}

.hero-image {
    background-image: url('/images/hero-section-image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.inter {
    font-family: 'Inter', 'Arial Narrow Bold', sans-serif;
}